body{
	background-color: #999;
	padding: 0px;
	margin: 0px;
}
.content {
	margin-right: 23%;
	margin-left: 23%;
	background-color: #FFF;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.header,.products,.footer {
	background-color: #FFF;
	float: left;
	width: 100%;

}

.products-grids,.items IMG{
	float:left;
	width:100%;
	margin-top: 10px;
	margin-bottom: 10px;
}
a:hover,a{
	text-decoration:none;
	color: #000;
}
li,ul{
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.header ul{
	background-color: #CCC;
	width: 100%;
}
.header ul li{
	width: 50%;
	float: left;
}
.header ul li a{
	width: 100%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;

}

.color1,.color1:hover{
	background-color: #0C0;
	float: left;
	color: #FFF;
}
.color2{
	float: left;
}
.color2:hover{
	background-color: #0C0;
	color: #FFF;
}
.items{
	float:left;
	width:31.3%;
	text-align: center;
	box-shadow: 0px 0px 5px #aaa;
	-webkit-box-shadow: 0px 0px 5px #aaa;
	-moz-box-shadow: 0px 0px 5px #aaa;
	-o-box-shadow: 0px 0px 5px #aaa;
	overflow: hidden;
	margin: 1%;
}

.single-img {
	width: 30%;
	float: left;
}
.single-img img{
	width: 100%;
	float: left;
}
.details-left-info {
	float: left;
	width: 60%;
	margin-left: 5%;
}

.panel-body {
	float: left;
	width: 100%;
	text-align: center;
	border-top-width: 15px;
	border-top-style: ridge;
	border-top-color: #CCC;
}
.panel-body img{
	width: 70%;

}

.products-single {
	float: left;
	width: 100%;
}

.logo img {
	width: 10%;
	float: right;
}
.logo h1 {
	float: left;
	width: 50%;
	color: #0C0;
	margin-left: 5%;
}

.footer p{
	margin: 15px;
	font-size: 14px;
	text-align: justify;
}
.copyright {
	background-color: #CCC;
	text-align: center;
	height: 50px;
	padding-top: 20px;
	font-size: 16px;
}
@media(max-width:1024px){body{background-color: #FFF;}.logo h1 {font-size: 14px;}}

@media screen and (min-width: 0px) and (max-width: 319px){.items{width:99%;}.content {margin: 1%;}}

@media screen and (min-width: 320px) and (max-width: 374px){.items{width:48%;}.content {margin: 2%;}}

@media screen and (min-width: 375px) and (max-width: 484px){.content {margin: 3%;}.logo h1 {font-size: 16px;}}

@media screen and (min-width: 485px) and (max-width: 640px){.content {margin: 4%;}.logo h1 {font-size: 22px;}}

@media screen and (min-width: 641px) and (max-width: 800px){.content {margin: 5%;}.logo h1 {font-size: 28px;}}

@media screen and (min-width: 801px) and (max-width: 1200px){.content {margin: 6%;}.logo h1 {font-size: 32px;}}
