body{
	background-color: #999;
	padding: 0px;
	margin: 0px;
}
.content {
	margin-right: 10%;
	margin-left: 10%;
	background-color: #FFF;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}
.header,.products,.footer {
	background-color: #FFF;
	float: left;
	width: 100%;
	font-size: 14px;
}

.products-grids{
	float:left;
	margin-bottom: 10px;
	padding-top: 10px;
	width: 75%;
}
.items IMG{
	float:left;
	width:100%;
	margin-bottom: 10px;
	padding-top: 10px;
}
a:hover,a{
	text-decoration:none;
	color: #000;
}
li,ul{
	display: inline-block;
	float: left;
	margin: 0px;
	padding: 0px;
	text-align: center;
}
.products-single {
	float: left;
	width: 100%;
	margin-bottom: 10px;
	border: 1px solid #CCC;
	padding-top: 20px;
	padding-bottom: 20px;
}

.logo img {
	width: 10%;
	float: right;
}
.logo h1 {
	float: left;
	width: 50%;
	color: #0C0;
	margin-left: 5%;
}
.header ul{
	background-color: #FFF;
	width: 100%;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #CCC;
	border-bottom-color: #CCC;
}
.header ul li{
	width: 16%;
	float: left;
}
.header ul li a{
	width: 100%;
	text-align: center;
	padding-top: 3%;
	padding-bottom: 3%;

}

.color1,.color1:hover{
	background-color: #0C0;
	float: left;
	color: #FFF;
}
.color2{
	float: left;
}
.color2:hover{
	background-color: #0C0;
	color: #FFF;
}
.items{
	float:left;
	text-align: center;
	box-shadow: 0px 0px 5px #aaa;
	-webkit-box-shadow: 0px 0px 5px #aaa;
	-moz-box-shadow: 0px 0px 5px #aaa;
	-o-box-shadow: 0px 0px 5px #aaa;
	overflow: hidden;
}

.single-img {
	width: 40%;
	float: left;
	margin-right: 5%;
}
.single-img img{
	width: 100%;
	float: left;
}
.details-left-info {
	float: left;
	width: 50%;
}

.panel-body {
	float: left;
	width: 100%;
	text-align: center;
	margin-top: 10px;
	border: 1px ridge #CCC;
	padding-top: 20px;
}
.panel-body img{
	width: 80%;

}

.footer p{
	margin: 15px;
	font-size: 14px;
	text-align: justify;
}
.copyright {
	background-color: #CCC;
	text-align: center;
	height: 50px;
	padding-top: 20px;
	font-size: 16px;
}

.category_tree {
	float: left;
	width: 100%;
}
.category_tree h2 {
	font-size: 16px;
	font-weight: lighter;
	background-color: #FFF;
	margin: 0px;
	padding: 8px;
	border: 1px dashed #CCC;
}

.products .navleft {
	float: left;
	width: 23%;
	padding: 10px;
}

.navleft .items {
	width: 100%;
	margin-bottom: 10px;
}
.products-grids .items {
	width: 32.2%;
	margin-right: 10px;
	margin-bottom: 10px;
}
.products-cat {
	float: left;
	border-top-width: 1px;
	border-top-style: solid;
	border-top-color: #CCC;
	padding-top: 5px;
}
.products-cat .items{
	float: left;
	width: 24.1%;
	margin: 5px;
}
.products-single h4 {
	text-align: center;
	float: left;
	width: 100%;
	font-size: 18px;
}
.products-single .text {
	float: left;
	width: 84%;
	text-align: left;
	word-wrap:break-word;
	padding-right: 8%;
	padding-left: 8%;
}
.category_tree a {
	width: 48%;
	float: left;
	margin-right: 2%;
	margin-bottom: 1%;
	margin-top: 1%;
}
@media(max-width:1024px){body{background-color: #FFF;}.logo h1 {font-size: 14px;}.products .navleft{padding: 0px;width: 100%;}.products-single{padding: 0px;width: 99%;}.products-cat .items{width: 46.7%;}.navleft .items {width: 0%;margin: 0px;overflow: hidden;}.products-grids{width: 100%;padding: 0px;}}

@media screen and (min-width: 0px) and (max-width: 319px){.items{width:99%;}.content {margin: 1%;}.products .navleft{width: 96%;}}

@media screen and (min-width: 320px) and (max-width: 374px){.items{width:48%;}.content {margin: 2%;}.navleft{width: 100%;}}

@media screen and (min-width: 375px) and (max-width: 484px){.content {margin: 3%;}.logo h1 {font-size: 18px;}.navleft{width: 100%;}}

@media screen and (min-width: 485px) and (max-width: 640px){.content {margin: 4%;}.logo h1 {font-size: 24px;}.navleft{width: 100%;}}

@media screen and (min-width: 641px) and (max-width: 800px){.content {margin: 5%;}.logo h1 {font-size: 28px;}.navleft{width: 100%;}}

@media screen and (min-width: 801px) and (max-width: 1200px){.content {margin: 6%;}.logo h1 {font-size: 32px;}.navleft{width: 100%;}}
